@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h6 {
    color: #343A40;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    align-self: flex-start;
}

small {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #6C757D;
}

small > a {
    cursor: pointer;
    color: #428DFC;
    text-decoration: none;
}

.logo {
    width: 100px;
}

.match-parent {
    width: 100%;
}

.gravity-center {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lg-margin-top {
     margin-top: 32px;
 }

.sm-margin-top {
    margin-top: 16px;
}

.lg-margin-bottom {
    margin-bottom: 32px;
}

.sm-margin-bottom {
    margin-bottom: 16px;
}

.lg-margin-left {
    margin-left: 32px;
}

.sm-margin-left {
    margin-left: 16px;
}

.lg-margin-right {
    margin-right: 32px;
}

.sm-margin-right {
    margin-right: 16px;
}

.lg-margin {
    margin: 32px;
}

.sm-margin {
    margin: 16px;
}